#loficlick {
    color:blue;
}

body {
    text-align: left;
    font-family: 'Roboto','Arial';
    background: rgb(224, 224, 224);
    margin: 10px;
}

#intro {
    text-align: center;
}

header {
    background-color: rgb(157, 157, 157);
    height: 50px;
    border-bottom: 2px solid rgb(53, 53, 53);
    width: 100%;
}

#RetroComputerPixelArt {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    width: 250px;
    height: auto;

    display: inline-block;
    animation: wobble 5s infinite alternate;
}

@keyframes wobble {
    0% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}

#Secret-Cookie {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    width: 150px;
    height: auto;
}

#ErrorLogo {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    width: 250px;
    height: auto;
}